<!doctype html>
{% set colours = ['bg-primary', 'bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat Platform - Interview</title>
    <meta name="description" content="#">
    <link rel="stylesheet" href="assets/css/grayshift.min.css">
    <link rel="stylesheet" href="assets/css/swipe.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-lg-row">
    <nav class="navside navside-expand-lg sticky-top order-2 order-lg-0">
        <div class="container">
            <a class="d-none d-lg-inline" href="/list">
                <i class="eva-xl fa fa-home fa-3x"></i>
            </a>
            <ul class="nav navside-nav" role="tablist" aria-orientation="vertical">
                <li class="nav-item d-none d-lg-block">
                    <form action="/logout" method="post">
                        <button type="submit" class="d-none d-lg-inline btn-link" title="Logout">
                            <i class="fa fa-power-off fa-3x"></i>
                        </button>
                    </form>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <span class="avatar avatar-md status h5 bg-primary rounded-circle" id="own-avatar-acronym">{{ session.getFirstName()|first }}{{ session.getLastName()|first }}</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sidebar sidebar-expand-lg order-1 order-lg-0">
        <div class="container py-5 px-lg-5">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="channels" role="tabpanel">
                    <div class="d-flex align-items-center mt-5">
                        <h3 class="mr-3">Channels</h3>
                    </div>
                    <hr class="mb-0">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="direct" role="tabpanel">
                            <div class="channel add-new" id="new-chat" style="cursor: pointer">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="mr-auto">Start a new conversation</h6>
                                    </div>
                                </div>
                                <span class="avatar avatar-sm mr-3 bg-primary rounded-circle"><i class="fa fa-paper-plane"></i></span>
                            </div>
                            {% for row in response %}
                                {% set colorIndex = random(0, 4) %}
                                <div class="channel open-chat" data-loader="{{ row['chat_id'] }}" data-colour="{{ colours[colorIndex] }}">
                                    <span class="avatar avatar-sm mr-3 {{ colours[colorIndex] }} rounded-circle">{{ row['acronym'] }}</span>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-center mb-3">
                                            <h6 class="mr-auto">{{ row['first_name'] }} {{ row['last_name'] }}</h6>
                                        </div>
                                        <span {% if row['owner_user'] == 0 and row['is_seen'] == 0 %}style="color: black; font-weight: 500"{% endif %}>
                                            {% if row['owner_user'] == 0 and row['last_message'] %} <i class="fa fa-chevron-right"></i> {% endif %}
                                            {{ row['last_message']|raw }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="flex-lg-grow-1">
        <div class="chat chat-offcanvas open">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <div class="container px-lg-5" id="chat-window">
                        <div class="chat-header">
                            <h6>Chat window</h6>
                        </div>
                        <div class="chat-body">
                            <div class="py-5">
                                <div class="d-flex align-items-end justify-content-center mb-5">
                                    <div class="card mb-3">
                                        <p>Start a new conversation now!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <div class="input-group">
                                <input class="form-control form-control-lg" placeholder="Select a chat to start..." style="color: #495057" disabled>
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fa fa-paper-plane-o"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js"></script>
<script src="assets/js/offcanvas.min.js"></script>
<script src="assets/js/bootstrap-dialog.min.js"></script>
<script src="assets/js/list.js"></script>
</body>
</html>
