<!doctype html>
{% set colours = ['bg-primary', 'bg-success', 'bg-info', 'bg-warning', 'bg-danger'] %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat Platform - Interview</title>
    <meta name="description" content="#">
    <link rel="stylesheet" href="assets/css/grayshift.min.css">
    <link rel="stylesheet" href="assets/css/swipe.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" integrity="sha384-AKT9MKPmIq4VMihDqOB6HeDHSsXGyf92WHPCSwHAZPIVJpD8Jv6dmfTLZeLDvV4O" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-lg-row">
    <nav class="navside navside-expand-lg sticky-top order-2 order-lg-0">
        <div class="container">
            <a class="d-none d-lg-inline" href="/list">
                <i class="eva-xl fa fa-home fa-3x"></i>
            </a>
            <ul class="nav navside-nav" role="tablist" aria-orientation="vertical">
                <li class="nav-item d-none d-lg-block">
                    <a href="/logout" class="d-none d-lg-inline" title="Logout">
                        <i class="fa fa-power-off fa-3x"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <span class="avatar avatar-md status h5 bg-primary rounded-circle">{{ session.getFirstName()|first }}{{ session.getLastName()|first }}</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sidebar sidebar-expand-lg order-1 order-lg-0">
        <div class="container py-5 px-lg-5">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="channels" role="tabpanel">
                    <div class="d-flex align-items-center mt-5">
                        <h3 class="mr-3">Channels</h3>
                    </div>
                    <hr class="mb-0">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="direct" role="tabpanel">
                            <div class="channel add-new">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-center mb-3">
                                        <h6 class="mr-auto">Start a new conversation</h6>
                                    </div>
                                </div>
                                <span class="avatar avatar-sm mr-3 bg-primary rounded-circle"><i class="fa fa-paper-plane"></i></span>
                            </div>
                            {% for row in data %}
                                <div class="channel" data-loader="{{ row['chat_id'] }}" data-colour="{{ colours[loop.index] }}">
                                    <span class="avatar avatar-sm mr-3 {{ colours[loop.index] }} rounded-circle">{{ row['acronym'] }}</span>
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-center mb-3">
                                            <h6 class="mr-auto">{{ row['user'].getFirstName() }} {{ row['user'].getLastName() }}</h6>
                                        </div>
                                        <p class="text" {% if row['owner_user'] == false and row['is_seen'] == false %}style="color: black"{% endif %}>
                                            {% if row['owner_user'] == false %} <i class="fa fa-chevron-right"></i> {% endif %}
                                            {{ row['last_message'] }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="flex-lg-grow-1">
        <div class="chat chat-offcanvas open">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <div class="container px-lg-5">
                        <div class="chat-header">
                            <span class="avatar avatar-sm mr-3 bg-info rounded-circle">jd</span>
                            <h6 class="lh-100">John Doe</h6>
                            <h6>Chat window</h6> <!-- Placeholder when no chat is active -->
                        </div>
                        <div class="chat-body">
                            <div class="py-5">
                                <!-- justify-content-end for owned messages and mb-5 except in last one -->
                                <div class="d-flex align-items-end justify-content-center mb-5"> <!-- Placeholder when no chat is active or empty window -->
                                    <div class="card mb-3">
                                        <p>Start a new conversation now!</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-end mb-5">
                                    <span class="avatar avatar-sm mr-3 bg-info rounded-circle">jd</span>
                                        <div class="card mb-3">
                                            <p>The quick brown fox jumps over the lazy dog.</p>
                                        </div>
                                </div>
                                <div class="d-flex align-items-end justify-content-end">
                                    <span class="avatar avatar-sm order-2 ml-3 bg-primary rounded-circle">jd</span>
                                        <div class="card mb-3 text-white bg-primary">
                                            <p>The quick brown fox jumps over the lazy dog.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <form id="submit-form">
                                <div class="input-group">
                                    <input class="form-control form-control-lg" placeholder="Type message..." autofocus name="message" style="color: #495057">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/eva-icons@1.1.2/eva.min.js"></script>
<script src="assets/js/offcanvas.min.js"></script>
<script src="assets/js/list.js"></script>
</body>
</html>
